<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12372904825-kk4skeu5ures5dnsgrkjku2t5uuompqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12372904825-kk4skeu5ures5dnsgrkjku2t5uuompqh</string>
	<key>API_KEY</key>
	<string>AIzaSyDUBAenKVvWlnQe7EIOD0s-GpZbnZSq-Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>12372904825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mighty.delivery</string>
	<key>PROJECT_ID</key>
	<string>mightydelivery-10da9</string>
	<key>STORAGE_BUCKET</key>
	<string>mightydelivery-10da9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12372904825:ios:f45e3d86542368cf22fda8</string>
</dict>
</plist>